.post {

}

.avatar {
    width: calc(7rem + 12px);/* cálculo feito para ao invéz de comprimir a imagem, aumentar as bordas, mantendo o tamanho desejado */
    height: calc(7rem + 12px);/* cálculo feito para ao invéz de comprimir a imagem, aumentar as bordas, mantendo o tamanho desejado */
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
  }
  