.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
 /*  utilizado para informar ao HTML que haverá flexibilidade */
  grid-template-columns: 256px 1fr; 
  gap: 2rem;
  align-items: flex-start;
}
